---
---

@import "{{ site.theme }}";

$color-red: #BA817A;
$color-blush: #E1C8DB;
$color-yellow: #FFEE83;
$color-green: #748C4F;

$font-avenir: 'Avenir Medium';
$font-quicksand: 'Quicksand', sans-serif;

body {
  color: #212121;
}

section {
  width:80%;
  float:right;
  padding-bottom:50px;
}

h1, h2, h3 {
  font-family: $font-avenir;
}

h3 {
 font-size: 18px; 
}

p, ol, ul {
  font-family: $font-quicksand;
  font-size: 18px;
  font-weight: regular;
}

