---
---

@import "{{ site.theme }}";

$color-red: #BA817A;
$color-blush: #E1C8DB;
$color-yellow: #FFEE83;
$color-green: #748C4F;

$font-avenir: 'Avenir Medium';
$font-quicksand: 'Quicksand', sans-serif;

h1, h2, h3 {
  font-family: $font-avenir;
}

p, ol, ul {
  font-family: $font-quicksand;
  font-size: 20px;
  font-weight: regular;
}

